*{
        margin: 0;
        padding: 0;
    }
    ul,li{
        list-style: none;
    }
    a{
        text-decoration:none;
        color: white;
        
    }
   #header{
        margin: 0 auto;
        height: 40px;
        width: 960px;
        background: gray;
        display: flex;
   }
   #header li{
        float: left;
        flex: 1;
        line-height: 40px;
   }
.content{
    margin:0 auto;
    width: 960px;
}
.content p{
    text-align: left;
    width: 960px;
    text-indent: 40px;
}